<?xml version="1.0"?>
<config>
    <modules>
        <Mf_ShippingRule>
            <version>1.1.1</version>
        </Mf_ShippingRule>
    </modules>
    <global>
        <blocks>
            <mf_shippingrule>
                <class>Mf_ShippingRule_Block</class>
            </mf_shippingrule>
        </blocks>
        <helpers>
            <mf_shippingrule>
                <class>Mf_ShippingRule_Helper</class>
            </mf_shippingrule>
        </helpers>
        <models>
            <mf_shippingrule>
                <class>Mf_ShippingRule_Model</class>
                <resourceModel>mf_shippingrule_resource</resourceModel>
            </mf_shippingrule>
            <mf_shippingrule_resource>
                <class>Mf_ShippingRule_Model_Resource</class>
                <entities>
                    <rule>
                        <table>mf_shippingrule</table>
                    </rule>
                    <rule_store>
                        <table>mf_shippingrule_rule_store</table>
                    </rule_store>
                    <product_attribute>
                        <table>mf_shippingrule_product_attribute</table>
                    </product_attribute>
                </entities>
            </mf_shippingrule_resource>
            <salesrule>
                <rewrite>
                    <rule_condition_product_found>Mf_ShippingRule_Model_SalesRule_Rule_Condition_Product_Found</rule_condition_product_found>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <mf_shippingrule_setup>
                <setup>
                    <module>Mf_ShippingRule</module>
                </setup>
            </mf_shippingrule_setup>
        </resources>
        <events>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <mf_shippingrule>
                        <class>mf_shippingrule/observer</class>
                        <method>addProductAttributes</method>
                    </mf_shippingrule>
                </observers>
            </sales_quote_config_get_product_attributes>
            <payment_method_is_active>
                <observers>
                    <mf_shippingrule_payment_method>
                        <class>mf_shippingrule/observer</class>
                        <method>validatePayments</method>
                    </mf_shippingrule_payment_method>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mf_ShippingRule before="Mage_Adminhtml">Mf_ShippingRule_Adminhtml</Mf_ShippingRule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mf_ShippingRule>
                    <files>
                        <default>Mf_ShippingRule.csv</default>
                    </files>
                </Mf_ShippingRule>
            </modules>
        </translate>
        <layout>
            <updates>
                <mf_shippingrule>
                    <file>mf/shippingrule.xml</file>
                </mf_shippingrule>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <mf_shippingrule>
                <active>1</active>
                <model>mf_shippingrule/carrier</model>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </mf_shippingrule>
        </carriers>
    </default>
</config>
